<div id="app" class="projects-container">
  <div class="projects-item project-carly" scene-name="Carly_splash">
  	<h1>
      Comment les petites parcelles forestières luttent-elles contre la perte de biodiversité et le changement climatique ?
    </h1>
    <span class="projects-author">
    Avec Carly Ziter</span>
  </div>
  <div class="projects-item project-matt" scene-name="Matt_splash">
  	<h1>Comment les fragments forestiers de la Montérégie affectent-ils les services écosystémiques des champs agricoles avoisinants ?</h1>
    <span class="projects-author">Avec Matthew Mitchell</span>
  </div>
  <div class="projects-item project-kyle" scene-name="Kyle_splash">
	<h1>Quels habitats à proximité du verger sont les plus importants pour les abeilles pollinisatrices de pommiers ?</h1>
  <span class="projects-author">Avec Kyle Martins</span>
  </div>
  <div class="projects-item project-dory" scene-name="Dory_splash">
	<h1>Comment la fragmentation des forêts affecte-t-elle la biodiversité des insectes à la cime des arbres, et quelles sont les conséquences pour les services écosystémiques dans les parcelles forestières ?</h1>
  <span class="projects-author">Avec Dorothy Maguire</span>
  </div>
</div>