<div id="app" class="projects-container">
  <div class="projects-item project-carly" scene-name="Carly_splash">
  	<h1>{{ $.Language | safeHTML }}
    {{ if eq .Language.Lang "fr"}}
      Comment les petites parcelles forestières luttent-elles contre la perte de biodiversité et le changement climatique ?
    {{ else }}
      How do small forest patches combat biodiversity loss and fight climate change?
    {{ end }}
    </h1>
    <span class="projects-author">
    {{ if eq .Language.Lang "fr"}}
      Avec
    {{else}}
      With
    {{end}}
    Carly Ziter</span>
  </div>
  <div class="projects-item project-matt" scene-name="Matt_splash">
  	<h1>How do forest fragments in the Monteregie affect ecosystem services in nearby agricultural fields?</h1>
    <span class="projects-author">With Matthew Mitchell</span>
  </div>
  <div class="projects-item project-kyle" scene-name="Kyle_splash">
	<h1>Do wild bees promote pollination and fruit production in orchards?</h1>
  <span class="projects-author">With Kyle Martins</span>
  </div>
  <div class="projects-item project-dory" scene-name="Dory_splash">
	<h1>How does forest fragmentation affect insect biodiversity in the treetops, and what are the consequences for ecosystem services in forest patches?</h1>
  <span class="projects-author">With Dorothy Maguire</span>
  </div>
</div>